.RecipeEditComponent input[type='file']:focus {
    background-color: #444;
    color: white;
}


.RecipeEditComponent .input-group .input-group-text,
input[type="text"],
input[type="password"],
input[type="file"] {
    color: #fff;
    background-color: #444;
    border-color: #666;
}

.RecipeEditComponent .form-floating {
    color: white;
    background-color: #444;
}

.RecipeEditComponent .form-floating input:focus {
    background-color: #444;
    color: white;
}

.RecipeEditComponent label {
    color: white;
}

.RecipeEditComponent .form-floating>.form-control:not(:placeholder-shown)~label::after {
    background-color: transparent;
}

.RecipeEditComponent .form-floating>.form-control:not(:placeholder-shown)~label {
    color: white;
}

.RecipeEditComponent .form-floating> :focus~label {
    color: white !important;
}

.RecipeEditComponent .form-floating> :focus~label::after {
    background-color: transparent !important;
}